# PINECONE CONFIGURATION
PINECONE_API_KEY=
PINECONE_DENSE_INDEX_NAME=dense_index_name
PINECONE_SPARSE_INDEX_NAME=sparse_index_name
PINECONE_DENSE_INDEX_MODEL=llama-text-embed-v2
PINECONE_SPARSE_INDEX_MODEL=pinecone-sparse-english-v0
PINECONE_DENSE_HOST=
PINECONE_SPARSE_HOST=
PINECONE_RERANKING_MODEL=

# GROQ CONFIGURATION
GROQ_API_KEY=
LLM_MODEL_NAME=llama-3.3-70b-versatile

# FRONTEND CONFIGURATION
FRONTEND_URLS=http://localhost:3000

# Database Configuration
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
DATABASE_URL_SYNC=postgres://username:password@localhost:5432/database_name
DATABASE_URL_ASYNC=postgresql+asyncpg://username:password@localhost:5432/database_name

# JWT Configuration
DUMMY_HASH=dummy_hash_for_timing_attack_prevention
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=jwt_algorithm
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=jwt_access_token_expire_minutes