PINECONE_API_KEY=
PINECONE_DENSE_INDEX_NAME=dense_index_name
PINECONE_SPARSE_INDEX_NAME=sparse_index_name
PINECONE_DENSE_INDEX_MODEL=llama-text-embed-v2
PINECONE_SPARSE_INDEX_MODEL=pinecone-sparse-english-v0
PINECONE_DENSE_HOST=
PINECONE_SPARSE_HOST=
GROQ_API_KEY=
LLM_MODEL_NAME=llama-3.3-70b-versatile